name: deploy

on:
  push:
    branches: [master]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  workflow_run:
    workflows: [testing]
    types: [completed]

jobs:
  deploy-docs:
    # https://github.community/t/workflow-run-completed-event-triggered-by-failed-workflow/128001
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          # ref: ${{ github.event.workflow_run.head_branch }}
          fetch-depth: 0

      - uses: actions/setup-python@v3
        with:
          python-version: "3.9"

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install setuptools setuptools_scm wheel
          pip install -e .[docs]

      - name: Build
        run: |
          sphinx-build docs docs_build

      # Generated documents are push to `gh-pages` branch
      # `ACTIONS_DEPLOY_KEY` is set by following: https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-create-ssh-deploy-key
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./docs_build

  deploy-pypi:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs:
      - deploy-docs

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v3
        with:
          python-version: "3.9"

      - name: Build
        run: |
          python -m pip install --upgrade pip
          pip install setuptools setuptools_scm wheel
          python setup.py sdist bdist_wheel

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
